[submodule "rsmith-nl.git-keywords"]
	path = rsmith-nl.git-keywords
	url = https://github.com/rsmith-nl/git-keywords.git
[submodule "git-test"]
	path = git-test
	url = git@ghe.coxautoinc.com:David-Rotthoff/get-test.git
